.jumbotron {
  background-color: #7d4e57;
}
.about {
  background-color: #f1bf98;
  /* background-color: #ffa69e; */
  /* background-color: #004e64; */
}
.project-card-group {
  background-color: #364156;
}
.contact {
  background-color: #afe3c0;
}
.resume {
  background-color: #93b5c6;
}
.resume-links {
  margin-right: 30px;
}
